html, body {
    height: 100%;
    background-color: #dff0fb;
}
.flex-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 100%;
    justify-content: left;
}
.query_bar {
    position: fixed;
    top: 0;
    left: 0;
    margin-bottom: 10px;
    width: 100%;
    background-color: #679be0;
    border-style: solid;
    border-width: 3px;
    border-color: #000000;
}
.page_bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(to right, #679be0,#c0e6ff,#679be0);
    border-style: solid;
    border-width: 3px;
    border-color: #000000;
}
button {
    border-radius: 20px;
    width: 150px;
    height: 25px;
    background-color: #ffffff;
}
#prev_b {
    margin-left: 35%;
    margin-right: 5%;
}
#next_b {
    margin-left: 5%;
    margin-right: 35%;
}
input[type=submit] {
    text-align: center;
    border-radius: 20px;
    width: 60px;
    height: 35px;
}
input[type=text] {
    width: 60%;
    height: 25px;
    border-radius: 10px;
}
form {
    width: 100%;
    height: 80%
}
.form-div {
    text-align: center;
    width: 100%;
    height: 100%;
}